@{
    Layout = "~/Views/Shared/user/_login.cshtml";
}
<div class="container">
    <h2>Sign In</h2>
    <form id="loginForm">
        <input type="email" id="email" placeholder="youremail@example.com" required>
        <input type="password" id="password" placeholder="Password" required>
        <div class="user-type" style="display: flex;align-items: center;justify-content: center; gap: 30px;margin: 5px 0;">
            <div class="radio-group">
                <input type="radio" id="user" name="userType" value="user">
                <label for="user">user</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="admin" name="userType" value="admin">
                <label for="admin">admin</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="seller" name="userType" value="seller">
                <label for="seller">seller</label>
            </div>
        </div>
        <div class="google-login">
            <a href="#">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="google">
                <span>Sign up with Google</span>
            </a>
        </div>
        <button type="submit">Sign In</button>
    </form>
    <a href="#" class="forgot">Forgot Password?</a>
    <p class="signup">Don't have an account? <a href="/signup">Create Account</a></p>
</div>

<script src="login.js"></script>
