@{
    Layout = "~/Views/Shared/user/_userlayout.cshtml";
}
@section breadCrumb {
    <div class="col-xl-6 col-lg-7">
        <nav class="header__menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/women">Women's</a></li>
                <li><a href="/men">Men's</a></li>
                <li><a href="/kids">Kid's</a></li>
                <li><a href="/shop">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="/product_details">Product Details</a></li>
                        <li><a href="/shop-cart">Shop Cart</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <!-- <li><a href="./blog-details.html">Blog Details</a></li> -->
                    </ul>
                </li>
                <!-- <li><a href="./blog.html">Blog</a></li> -->
                <li class="active"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa-solid fa-house"></i> Home</a>
                    <span>Contact</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Contact info</h5>
                        <ul>
                            <li>
                                <h6><i class="fa-solid fa-location-dot"></i> Address</h6>
                                <p>160 Pennsylvania Ave NW, Washington, Castle, PA 16101-5161</p>
                            </li>
                            <li>
                                <h6><i class="fa-solid fa-phone"></i> Phone</h6>
                                <p><span>125-711-811</span><span>125-668-886</span></p>
                            </li>
                            <li>
                                <h6><i class="fa-solid fa-headphones"></i> Support</h6>
                                <p>Support.photography@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5 id="contact-form-heading">Send Message</h5>
                        <form action="#" id="contact-form" class="validated-form" novalidate aria-labelledby="contact-form-heading">
                            <!-- <div class="form-group">
                                    <label for="contact-name">Your Name <span aria-hidden="true">*</span></label>
                                    <input type="text" id="contact-name" name="name" required aria-required="true" autocomplete="name" minlength="2">
                                    <span class="error-message" role="alert" aria-live="polite"></span>
                                </div>
                                <div class="form-group">
                                    <label for="contact-email">Email Address <span aria-hidden="true">*</span></label>
                                    <input type="email" id="contact-email" name="email" required aria-required="true" autocomplete="email">
                                    <span class="error-message" role="alert" aria-live="polite"></span>
                                </div> -->
                            <div class="form-group">
                                <label for="contact-subject">Subject</label>
                                <input type="text" id="contact-subject" name="subject">
                            </div>
                            <div class="form-group">
                                <label for="contact-message">Message <span aria-hidden="true">*</span></label>
                                <textarea id="contact-message" name="message" rows="5" required aria-required="true" minlength="10"></textarea>
                                <span class="error-message" role="alert" aria-live="polite"></span>
                            </div>
                            <button type="submit" class="site-btn">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd" height="780" style="border:0" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->